Source: saltunnel
Section: net
Priority: optional
Maintainer: Jay Sullivan <jay@identity.pub>
Build-Depends: libsodium23, libsodium-dev
Standards-Version: 4.4.1
Homepage: https://github.com/notfed/saltunnel

Package: saltunnel
Architecture: any
Description: A simple, secure TCP tunnel.
 saltunnel is a cryptographically secure TCP tunnel. It allows one to augment a
 normally-insecure TCP session with state-of-the-art security, with minimal
 hassle and minimal impact on performance.
